/* PostForm.css */

.post-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.post-input {
  flex-grow: 1;
  width: 510px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-button {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-right: 60px;
}

.post-button:hover {
  background-color: #0d8aec;
}