/* RightSidebar.css */
.right-sidebar {
  background-color: #f5f5f5; /* Fondo gris claro */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  color: #14171a; /* Color de texto principal */
}

.sidebar-heading {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Parte 1: Información de Premium */
.premium-section {
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 20px;
}

.subscribe-button {
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Color de texto blanco */
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

/* Parte 2: A quien seguir */
.who-to-follow-section {
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
}

.user-handle {
  color: #6b6b6b;
  margin-left: 10px;
}

.follow-button {
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Color de texto blanco */
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.show-more {
  cursor: pointer;
  color: #a7b7d8; /* Color del texto principal */
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Parte 3: Tendencias */
.trends-section {
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
}

.hashtag {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Color de texto blanco */
  cursor: pointer;
}