/* RightSidebar.css */
.right-sidebar {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  color: #14171a;
}

.sidebar-heading {
  font-size: 1.2em;
  margin-bottom: 10px;
}


.premium-section {
  background-color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 20px;
}

.subscribe-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}


.who-to-follow-section {
  background-color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.user-handle {
  color: #6b6b6b;
  margin-bottom: 2px;
}

.follow-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  text-align: center;
  width: 120px;
  margin-left: auto;
}

.show-more {
  cursor: pointer;
  color: #a7b7d8;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.trends-section {
  background-color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
}

.hashtag {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.show-more:hover,
.hashtag:hover {
  background-color: #1da1f2;
  color: #ffffff;
}

.jump {
  animation: jumpAnimation 0.5s ease-in-out;
}

@keyframes jumpAnimation {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-10px);
  }
}