/* Sidebar.css */
.sidebar {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  color: #14171a;
}

.sidebar__profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar__profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.sidebar__profileInfo {
  display: flex;
  flex-direction: column;
}

.sidebar__profileName {
  font-weight: bold;
  margin-bottom: 5px;
}

.sidebar__profileHandle {
  color: #6b6b6b;
}

.sidebar__counts {
  display: flex;
  margin-bottom: 20px;
}

.sidebar__count {
  margin-right: 20px;
}

.sidebar__divider {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

.sidebar__section {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 9999px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar__icon {
  margin-right: 10px;
  font-size: 1.5em;
}

.sidebar__section p {
  margin: 0;
}

.sidebar__section:hover {
  background-color: #e6f1ff;
  color: #1d2129;
}


@media screen and (max-width: 600px) {
  .sidebar {
    padding: 10px;
  }

  .sidebar__profileImage {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .sidebar__profileName {
    font-size: 14px;
  }

  .sidebar__profileHandle {
    font-size: 12px;
  }

  .sidebar__count {
    margin-right: 10px;
    font-size: 14px;
  }

  .sidebar__section {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}